#main-container {
    padding-top: 1em;
}

.content {
    padding-top: 2em;
}

.logo {
    height: 100px;
    margin-bottom: 1em;
}

.individual-box {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid white;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 1px;
}

.individual-box::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.preview-thumbnail {
    height: 10vh;
}

.btn {
    color: white !important;
    background: black !important;
    border-radius: 1px !important;
    border: 1px solid white !important;
    width: 5em !important;
    height: 5em !important;
    line-height: 1em;
    font-family: monospace;
    margin: 3px;
}

.disengage-btn {
    color: black !important;
    background: #fffee3 !important;
    border-radius: 1px !important;
    border: 1px solid white !important;
    width: 10em !important;
    height: 2em !important;
    line-height: 1em;
    font-family: monospace;
    margin: 3px;
    font-size: xx-large;
}

.enable-indicator {
    display: block;
    width: 100%;
    height: 0.7em;
    bottom: 0%;
    margin-top: 2px;
    background-color: #8afa3b;
    border: none !important;
    translate: 0em 1em;
}

.boeing-input {
    background: black !important;
    border-radius: 1px !important;
    border: 1px solid white !important;
    height: 1em !important;
    line-height: 1em;
    font-family: monospace;
    margin: 3px;
    font-size: 2.5em;
    color: white;
    caret-color: black;
    text-align: center;
}

.boeing-input::selection{
    background-color: black;
    color: white;
}

.boeing-input:disabled{
    color: black;
    cursor: not-allowed;
}

.input-box {
    padding-right: 1em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.annunciator {
    border: 1px solid gray;
    width: 6em;
    height: 3em;
    text-align: center;
    color: gray;
    margin-right: 0.4em;
    font-family: monospace;
    line-height: 1em;
    padding-top: 0.4em;
}

.annunciator.green {
    border: 1px solid #64ff5b;
    color: #64ff5b;
    background-color: #64ff5b22;
}

.annunciator.amber {
    border: 1px solid #ff9d39;
    color: #ff9d39;
    background-color: #ff9d3922;
}

.annunciator.clickable {
    cursor: pointer;
}
