#main-container {
    padding-top: 1em;
}

.content {
    padding-top: 2em;
}

.logo {
    height: 100px;
    margin-bottom: 1em;
}

.individual-box {
    padding: 1em;
    border: 1px solid white;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 1px;
}

.individual-box::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#beatmap-list:hover {
    cursor: pointer;
}

.preview-thumbnail {
    height: 10vh;
}

.select-button{
    width: 100%;
}